@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply h-5 w-5 cursor-pointer hover:scale-125 transition transform duration-100 ease-out;
  }

  .blobby {
    @apply absolute aspect-square rounded-full bg-white;
  }

  .transition-base {
    @apply transition-all duration-700 ease-in-base;
  }

  .bg-glassy {
    @apply bg-gradient-to-br from-glassy-20 to-glassy-0 backdrop-blur-[18px] rounded-3xl shadow-glassy shadow-glassy-dark-10;
  }

  .border-gradient {
    @apply before:content-[''] before:absolute before:inset-0 before:rounded-3xl before:p-px before:bg-gradient-to-br before:from-ukranian-blue-50 before:via-glassy-0 before:to-spotify-50;
  }

  .button-glassy {
    @apply text-glassy-25 hover:text-glassy-70 font-medium py-3 px-8 duration-500 relative before:absolute before:inset-0 before:content-[''] before:rounded-3xl before:bg-glassy-5 before:blur-sm before:hover:blur-none before:hover:border before:border-transparent before:hover:border-glassy-5 before:duration-300 before:ease-in;
  }
}

.border-gradient::before {
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

/* Spotify Logo Shadow */
/* WebkitFilter: 'drop-shadow(5px 5px 5px #222)',
filter: 'drop-shadow(5px 5px 5px #222)',
mixBlendMode: 'overlay',
opacity: '0.5' */
