@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply h-5 w-5 cursor-pointer hover:scale-125 transition transform duration-100 ease-out;
  }

  .blobby {
    @apply absolute aspect-square rounded-full bg-white;
  }

  .transition-base {
    @apply transition-all duration-700 ease-in-base;
  }

  .bg-glassy {
    @apply bg-gradient-to-br from-glassy-20 to-glassy-0 backdrop-blur-[18px] rounded-3xl shadow-glassy shadow-glassy-dark-10;
    /* @apply bg-gradient-to-br from-glassy-40 to-glassy-10 backdrop-blur-[20px] rounded-3xl shadow-glassy shadow-glassy-dark-10; */
  }

  .border-gradient {
    @apply before:content-[''] before:absolute before:inset-0 before:rounded-3xl before:p-px before:bg-gradient-to-br before:from-ukranian-blue-50 before:via-glassy-0 before:to-spotify-50;
  }

  .button-glassy {
    @apply text-white py-3 px-8 lowercase tracking-widest border border-glassy-dark-10 rounded-3xl backdrop-blur-[6px] transition-all ease-in duration-500 bg-glassy-dark-20;
    /* @apply text-white py-3 px-8 lowercase rounded-3xl transition-all ease-in duration-500 bg-glassy-dark-20 backdrop-blur-sm; */
  }
}

.border-gradient::before {
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

/* Spotify Logo Shadow */
/* WebkitFilter: 'drop-shadow(5px 5px 5px #222)',
filter: 'drop-shadow(5px 5px 5px #222)',
mixBlendMode: 'overlay',
opacity: '0.5' */
